.heading
{
   font-size: 40px;
}
.logo
{
   /* border: 1px solid red; */
   transition: background-color 0.3s;

}

.mainDiv
{
   height: 600px;
}


.bg-color
{
  background-color: #99cc33;
}
.textColor
{
    color: #02adf5;
}
.logoDiv
{
   position: absolute;
   top: 50%;
   left: 50%;

    transform: translate(-50%,-50%);
}

.logo:hover
{
   background-color:black
   /* background-color: #e12020; */
}

.imgDiv
{
   /* border: 2px solid blue; */
   transition: transform 0.3s;
}

.imgDiv:hover
{
    transform: scale(1.09);
}

/* .footer
{
    

} */
@media screen and (max-width:700px) {
  .footerr
  {
       display: block;
       
  }
}